<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <h3 class="subTitle">CONSULTA SOBRE ARRIBOS (<a
      href="https://www.anp.com.uy/inicio/puertos/montevideo/sistemas/consultas-sobre-arribos"
      target="_blank"
    >ANP</a>)</h3>
  <div class="homeBody">
    <div class="aisBody">
      <div class="categoryCont">
        <a
          id="arrivesCard"
          class="categoryCard"
          href="https://www.anp.com.uy/inicio/puertos/montevideo/sistemas/consultas-sobre-arribos/consulta-de-arribos"
          target="_blank"
        >
          <img src="" alt="" />
          <p>CONSULTA DE ARRIBOS</p>
        </a>
        <a
          id="shipDataCard"
          class="categoryCard"
          href="https://www.anp.com.uy/inicio/puertos/montevideo/sistemas/consultas-sobre-arribos/datos-de-buques"
          target="_blank"
        >
          <img src="" alt="" />
          <p>DATOS DE BUQUES</p>
        </a>
        <a
          id="portOcupationCard"
          class="categoryCard"
          href="https://www.anp.com.uy/inicio/puertos/montevideo/sistemas/consultas-sobre-arribos/ocupacion-de-puerto"
          target="_blank"
        >
          <img src="" alt="" />
          <p>OCUPACIÓN DE PUERTO</p>
        </a>
        <a
          id="mooringAssignCard"
          class="categoryCard"
          href="https://www.anp.com.uy/inicio/puertos/montevideo/sistemas/consultas-sobre-arribos/asignacion-de-atraque-de-buques"
          target="_blank"
        >
          <img src="" alt="" />
          <p>ASIGNACIÓN DE ATRAQUE</p>
        </a>
      </div>
      <div id="subBodyText">
        <p><strong>LEA CON ATENCIÓN:</strong>
          Los sistemas de organización, estadísticas y/o consultas de la Administración Nacional de Puertos son de desarrollo esclusivo de mencionada institución. <strong>Su producción y mantenimiento no dependen
            de SIGMU.</strong></p>
      </div>
      <div class="btnBackCont">
        <a class="btnBack" href="/index/toolsMenu/">VOLVER</a>
      </div>
    </div>
  </div>
</div>