<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <h3 class="subTitle">CÁMARAS PÚBLICAS DE INTERÉS (<a
      href="https://anteltv.com.uy/camaras"
      target="_blank"
    >ANTELTV</a>)</h3>
  <div class="homeBody">
    <div class="aisBody">
      <div class="categoryCont">
        <a
          id="oesteCameraCard"
          class="categoryCard"
          href="https://anteltv.com.uy/play/2sthc#"
          target="_blank"
        >
          <img src="" alt="" />
          <p>TORRE OESTE <br> (PUERTO)</p>
        </a>
        <a
          id="norteCameraCard"
          class="categoryCard"
          href="https://anteltv.com.uy/play/2sthw"
          target="_blank"
        >
          <img src="" alt="" />
          <p>TORRE NORTE <br> (PUERTO)</p>
        </a>
        <a
          id="mercadoCameraCard"
          class="categoryCard"
          href="https://anteltv.com.uy/play/2sthl"
          target="_blank"
        >
          <img src="" alt="" />
          <p>MERCADO DEL PUERTO <br> (PERIFERIA)</p>
        </a>
        <a
          id="terminalCameraCard"
          class="categoryCard"
          href="https://anteltv.com.uy/play/2st0p"
          target="_blank"
        >
          <img src="" alt="" />
          <p>TERMINAL RÍO BRANCO <br> (PERIFERIA)</p>
        </a>
      </div>
      <div id="subBodyText">
        <p><strong>LEA CON ATENCIÓN:</strong>
          Las cámaras son propiedad de ANTEL, por lo tanto es necesario tener
          una cuenta de ANTEL TV y haber ingresado a su plataforma para lograr
          visualizar las mismas.
          <strong>El funcionamiento de la plataforma de ANTEL TV no depende de
            SIGMU.</strong></p>
      </div>
      <div class="btnBackCont">
        <a class="btnBack" href="/index/toolsMenu/">VOLVER</a>
      </div>
    </div>
  </div>
</div>