<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div>
    <form
      class="formStyle"
      action="/api/carFines/createAndRender"
      method="post"
    >
      <h3 class="formTitle">CARGAR NUEVA MULTA PARA VEHÍCULO TERRESTRE:</h3>
      <p class="formSubTitle">Datos de la multa:</p>
      <div class="formGroup">
        <label for="fine_date">Fecha<span class="formAst">*</span>:</label>
        <input
          class="formInput"
          type="date"
          id="fine_date"
          name="fine_date"
          required
        />
      </div>
      <div class="formGroup">
        <label for="fine_time">Hora<span class="formAst">*</span>:</label>
        <input
          class="formInput"
          type="time"
          id="fine_time"
          name="fine_time"
          required
        />
      </div>
      <div class="formGroup">
        <label for="fine_article">N° Artículo<span
            class="formAst"
          >*</span>:</label>
        <select
          class="formInput"
          id="fine_article"
          name="fine_article"
          required
        >
          <option value="" selected disabled>Artículos del Decreto 100/91 -
            Reglamento de uso de espacios acuaticos, costeros y portuarios...</option>
          <option
            value="Artículo 44º.- CUMPLIMIENTO DE LAS DISPOSICIONES SOBRE TRANSITO VEHICULAR - 2 U.R."
          >Artículo 44º.- CUMPLIMIENTO DE LAS DISPOSICIONES SOBRE TRANSITO
            VEHICULAR - 2 U.R.</option>
          <option value="Artículo 45º.- VEHICULOS (LITERAL A) - 3 U.R.">Artículo
            45º.- VEHICULOS (LITERAL A) - 3 U.R.</option>
          <option value="Artículo 45º.- VEHICULOS (LITERAL B) - 3 U.R.">Artículo
            45º.- VEHICULOS (LITERAL B) - 3 U.R.</option>
          <option value="Artículo 45º.- VEHICULOS (LITERAL C) - 3 U.R.">Artículo
            45º.- VEHICULOS (LITERAL C) - 3 U.R.</option>
          <option value="Artículo 45º.- VEHICULOS (LITERAL D) - 3 U.R.">Artículo
            45º.- VEHICULOS (LITERAL D) - 3 U.R.</option>
          <option
            value="Artículo 129º.- PROHIBICION DE CIRCULACION DE VEHICULOS - 3 U.R."
          >Artículo 129º.- PROHIBICION DE CIRCULACION DE VEHICULOS - 3 U.R.</option>
        </select>
        <a
          class="linkDec100"
          target="_blank"
          href="https://www.impo.com.uy/bases/decretos-reglamento/100-1991"
        >Consultar el Decreto 100/91</a>
      </div>
      <div class="formGroup">
        <label for="fine_amount">Cantidad U.R.<span
            class="formAst"
          >*</span>:</label>
        <input
          class="formInput"
          type="number"
          id="fine_amount"
          name="fine_amount"
          placeholder="Se obtiene del artículo seleccionado..."
          required
        />
      </div>
      <div class="formGroup">
        <label for="fine_extra_amount">Cantidad extra U.R.:</label>
        <input
          class="formInput"
          type="number"
          id="fine_extra_amount"
          name="fine_extra_amount"
          placeholder="Llenar solo en caso de que el artículo permita ampliar el monto de la multa..."
        />
      </div>
      <div class="formGroup">
        <label for="fine_proves">Pruebas<span class="formAst">*</span>:</label>
        <input
          class="formInput"
          type="text"
          id="fine_proves"
          name="fine_proves"
          placeholder="Link a la carpeta de archivos en la nube..."
          required
        />
      </div>
      <p class="formSubTitle">Datos del vehículo:</p>
      <div class="formGroup">
        <label for="car_brand">Marca<span class="formAst">*</span>:</label>
        <input
          class="formInput"
          type="text"
          id="car_brand"
          name="car_brand"
          placeholder="Ej: Renault, Peugeot, Volkswagen, Audi, BMW, Ferrari, etc..."
          required
        />
      </div>
      <div class="formGroup">
        <label for="car_model">Modelo<span class="formAst">*</span>:</label>
        <input
          class="formInput"
          type="text"
          id="car_model"
          name="car_model"
          placeholder="Ej: Sandero, 208, Polo, Q5, M235i, 458 Italia, etc..."
          required
        />
      </div>
      <div class="formGroup">
        <label for="car_reg_number">Matrícula<span
            class="formAst"
          >*</span>:</label>
        <input
          class="formInput"
          type="text"
          id="car_reg_number"
          name="car_reg_number"
          placeholder="Ej: ABC1234 (UY), AB123CD (AR), ABC1D23 (BR), ABCD123 (PY), ABCD12 (CL), etc..."
          required
        />
      </div>
      <p class="formSubTitle">Datos del propietario:</p>
      <div class="formGroup">
        <label for="owner_ci">C.I. / Pasaporte:</label>
        <input
          class="formInput"
          type="text"
          id="owner_ci"
          name="owner_ci"
          placeholder="Ej: 12345678 / A123456..."
        />
      </div>
      <div class="formGroup">
        <label for="owner_name">Nombre:</label>
        <input
          class="formInput"
          type="text"
          id="owner_name"
          name="owner_name"
          placeholder="Ej: Juan José Hernández Pérez..."
        />
      </div>
      <div class="formGroup">
        <label for="owner_tel">Teléfono:</label>
        <input
          class="formInput"
          type="tel"
          id="owner_tel"
          name="owner_tel"
          placeholder="Ej: 091234567 / 20151234..."
        />
      </div>
      <div class="formGroup">
        <label for="owner_dir">Dirección:</label>
        <input
          class="formInput"
          type="text"
          id="owner_dir"
          name="owner_dir"
          placeholder="Ej: 18 de Julio 1234 esq. Convención, Montevideo, Uruguay..."
        />
      </div>
      <p class="formAst">* Datos obligatorios para crear la multa.</p>
      <div class="submitCont">
        <input id="formSubmit" type="submit" value="CREAR MULTA" />
      </div>
    </form>
    <div id="subBodyText">
      <p><strong>LEA CON ATENCIÓN:</strong>
        El sistema registra en automático su usuario como autor de la multa. Si
        usted no es el autor de la multa, se le recomienda que se abstenga de
        cargar la misma ya que cualquier responsabilidad sobre el uso del
        sistema en relación a la multa creada recaera sobre usted y su usuario.</p>
    </div>
    <div class="btnBackCont">
      <a class="btnBack" href="/index/carFinesMenu/">VOLVER</a>
    </div>
    <br />
  </div>
</div>