<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <div class="submitCont">
        <a id="backButton" href="javascript:history.back()">VOLVER</a>
      </div>
      {{#if user}}
        <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
      {{/if}}
    </div>
  </div>
  <div class="notFoundCont">
    <img id="msgImg" src="/img/404.png" alt="404" />
    <div>
      <h3>Algo salió mal...</h3>
      <p>{{msg}}</p>
    </div>
  </div>
  <p id="errorLink">Para reportar errores siga este <a href="#">link</a>.</p>
</div>