<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>¿Recordó su contraseña?</p>
      <a id="btnLogin" href="/">INGRESAR</a>
    </div>
  </div>
  <div>
    <form class="formStyle" action="/api/tokens/recoverPassword" method="post">
      <h3 class="formTitle">SOLICITAR NUEVA CONTRASEÑA:</h3>
      <p class="formSubTitle">Ingrese su email para recibir el token de
        recuperación:</p>
      <div class="formGroup">
        <label for="email">Email:</label>
        <input
          class="formInput"
          type="text"
          id="email"
          name="email"
          placeholder="Ej.: napellido@armada.mil.uy"
          required
        />
      </div>
      <div class="submitCont">
        <input id="formSubmit" type="submit" value="SOLICITAR CONTRASEÑA" />
      </div>
    </form>
    <div id="subBodyText">
      <p><strong>LEA CON ATENCIÓN:</strong>
        Luego de solicitar su nueva contraseña se le enviará un correo a la
        casilla de email ingresada. Mencionado correo contará con un token que
        se utilizará automáticamente para generar una instancia a fin de que
        usted pueda elegir una nueva contraseña para su cuenta. Este token será
        una cadena de caracteres única y no deberá ser compartido con nadie.
        Finalmente, cabe agregar que el token tendrá una validez de tan solo una
        hora para poder utilizar el link de cambio de contraseña que vendrá en
        el correo.</p>
    </div>
  </div>
</div>