<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
    </div>
  </div>
  <div id="subBody">
    {{#if user}}
      <div class="notFoundCont">
        <div>
          <img id="msgImg" src="/img/checked.png" alt="checked" />
        </div>
        <h3 class="alrLoged">Usted ya esta logeado como
          {{user.rank}}
          {{user.first_name}}
          {{user.last_name}}</h3>
        <a class="btnLI" href="/index/home">PANEL DE USUARIO</a>
      </div>
    {{/if}}
    {{#unless user}}
      <form id="loginForm" action="/api/sessions/login" method="post">
        <p>Ingrese sus credenciales:</p>
        <h3 id="backMsg">{{msg}}</h3>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email..."
          required
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password..."
          required
        />
        <button type="submit" class="btnLI">INGRESAR</button>
      </form>
      <div class="dropdown">
        <button id="btnRequest">SOLICITAR</button>
        <div class="dropdownRegCont">
          <a href="/newAccount">NUEVA CUENTA</a>
          <a href="/forgotPassword">CONTRASEÑA</a>
        </div>
      </div>
    {{/unless}}
  </div>
</div>