<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>¿Ya tiene cuenta?</p>
      <a id="btnLogin" href="/">INGRESAR</a>
    </div>
  </div>
  <div>
    <form
      class="formStyle"
      action="/api/users/newAccount"
      method="post"
    >
      <h3 class="formTitle">SOLICITAR NUEVA CUENTA:</h3>
      <p class="formSubTitle">Datos del solicitante<span
          class="formAst"
        >*</span>:</p>
      <div class="formGroup">
        <label for="first_name">Nombre:</label>
        <input
          class="formInput"
          type="text"
          id="first_name"
          name="first_name"
          required
        />
      </div>
      <div class="formGroup">
        <label for="last_name">Apellido:</label>
        <input
          class="formInput"
          type="text"
          id="last_name"
          name="last_name"
          required
        />
      </div>
      <div class="formGroup">
        <label for="rank">Grado:</label>
        <select class="formInput" id="rank" name="rank" required>
          <option value="" selected disabled>Seleccione su grado...</option>
          <option value="PC">Personal Civil</option>
          <option value="MP">Marinero de Primera</option>
          <option value="CS">Cabo de Segunda</option>
          <option value="CP">Cabo de Primera</option>
          <option value="SOS">Sub Oficial de Segunda</option>
          <option value="SOP">Sub Oficial de Primera</option>
          <option value="SOC">Sub Oficial de Cargo</option>
          <option value="GM">Guardia Marina</option>
          <option value="AF">Alférez de Fragata</option>
          <option value="AN">Alférez de Navío</option>
          <option value="TN">Teniente de Navío</option>
          <option value="CC">Capitán de Corbeta</option>
          <option value="CF">Capitán de Fragata</option>
          <option value="CN">Capitán de Navío</option>
          <option value="CA">Contralmirante</option>
          <option value="ALM">Almirante</option>
        </select>
      </div>
      <div class="formGroup">
        <label for="email">Email (ARMADA):</label>
        <input
          class="formInput"
          type="text"
          id="email"
          name="email"
          placeholder="Ej.: napellido@armada.mil.uy"
          required
        />
      </div>
      <div class="formGroup">
        <label for="newAccBody">Justificación:</label>
        <textarea
          class="formInputTextarea"
          name="newAccBody"
          id="newAccBody"
          placeholder="Breve justificación por la cual solicita acceso al sistema..."
          required
        ></textarea>
        <p class="formAst">* Todos los datos son obligatorios.</p>
      </div>
      <div class="submitCont">
        <input id="formSubmit" type="submit" value="SOLICITAR CUENTA" />
      </div>
    </form>
  </div>
</div>