<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
    </div>
  </div>
  <div>
    <form class="formStyle" action="/api/tokens/recoverForm" method="post">
      <h2 id="backMsg">{{msg}}</h2>
      <br />
      <p>Por favor, ingrese su nueva contraseña y luego confirmela:</p>
      <br />
      <h2 id="userEmail">{{email}}</h2>
      <br />
      <div>
        <label
          for="email"
          style="display: none;"
        >Email:</label>
        <input
          class="inputClass"
          type="email"
          name="email"
          id="email"
          value="{{email}}"
          style="display: none;"
          required
        />
      </div>
      <div class="formGroup">
        <label for="newPassword">Nueva contraseña:</label>
        <input
          class="formInput"
          type="password"
          name="newPassword"
          id="newPassword"
          placeholder=""
          required
        />
      </div>
      <div class="formGroup">
        <label class="labelClass" for="confirmPassword">Confirmar contraseña:</label>
        <input
          class="formInput"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder=""
          required
        />
      </div>
      <br />
      <div class="submitCont">
        <input id="formSubmit" type="submit" value="ACTUALIZAR CONTRASEÑA" />
      </div>
    </form>
  </div>
</div>