<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div>
    <form
      class="formStyle"
      action="/api/users/createAndSendEmail"
      method="post"
    >
      <h3 class="formTitle">CREAR NUEVO USUARIO:</h3>
      <div class="formGroup">
        <label for="first_name">Nombre<span class="formAst">*</span>:</label>
        <input
          class="formInput"
          type="text"
          id="first_name"
          name="first_name"
          placeholder="Si cuenta con dos nombres, se recomienda colocar ambos..."
          required
        />
      </div>
      <div class="formGroup">
        <label for="last_name">Apellido<span class="formAst">*</span>:</label>
        <input
          class="formInput"
          type="text"
          id="last_name"
          name="last_name"
          placeholder="Si cuenta con el dato de ambos apellidos, se recomienda colocar ambos..."
          required
        />
      </div>
      <div class="formGroup">
        <label for="rank">Grado<span class="formAst">*</span>:</label>
        <select class="formInput" id="rank" name="rank" required>
          <option value="" selected disabled>Seleccione el grado...</option>
          <option value="PC">Personal Civil</option>
          <option value="MP">Marinero de Primera</option>
          <option value="CS">Cabo de Segunda</option>
          <option value="CP">Cabo de Primera</option>
          <option value="SOS">Sub Oficial de Segunda</option>
          <option value="SOP">Sub Oficial de Primera</option>
          <option value="SOC">Sub Oficial de Cargo</option>
          <option value="GM">Guardia Marina</option>
          <option value="AF">Alférez de Fragata</option>
          <option value="AN">Alférez de Navío</option>
          <option value="TN">Teniente de Navío</option>
          <option value="CC">Capitán de Corbeta</option>
          <option value="CF">Capitán de Fragata</option>
          <option value="CN">Capitán de Navío</option>
          <option value="CA">Contralmirante</option>
          <option value="ALM">Almirante</option>
        </select>
      </div>
      <div class="formGroup">
        <label for="email">Email (ARMADA)<span class="formAst">*</span>:</label>
        <input
          class="formInput"
          type="text"
          id="email"
          name="email"
          placeholder="Debe ser un email ARMADA..."
          required
        />
      </div>
      <div class="formGroup">
        <label for="avatar">Foto de perfil:</label>
        <input
          class="formInput"
          type="text"
          id="avatar"
          name="avatar"
          placeholder="Enlace directo a la foto de perfil en la web..."
        />
      </div>
      <p class="formAst">* Datos obligatorios para crear el usuario.</p>
      <div class="submitCont">
        <input id="formSubmit" type="submit" value="CREAR USUARIO" />
      </div>
    </form>
    <div id="subBodyText">
      <p><strong>ATENCIÓN ADMINISTRADOR:</strong>
        Una vez creada la cuenta <strong>el sistema enviará un email</strong> al interesado con las credenciales y los pasos a seguir para la eventual utilización del sistema.</p>
    </div>
    <div class="btnBackCont">
      <a class="btnBack" href="/index/carFinesMenu/">VOLVER</a>
    </div>
    <br />
  </div>
</div>