<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
    </div>
  </div>
  <div class="notFoundCont">
    <img id="msgImg" src="/img/checked.png" alt="checked" />
    <div>
      <h3>¡Operación realizada con éxito!</h3>
      <p>{{msg}}</p>
      <p>Redireccionando...</p>
    </div>
  </div>
  <script src="/assets/js/redirect.js"></script>
</div>