<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div class="homeBody">
    <div class="categoriesBody">
      <h3>HERRAMIENTAS DE PUERTO</h3>
      <div class="categoryCont">
        <a id="aisCard" class="categoryCard" href="/index/AIS">
          <img src="" alt="" />
          <p>AIS</p>
        </a>
        <a id="weatherCard" class="categoryCard" href="/index/weather">
          <img src="" alt="" />
          <p>METEOROLOGÍA</p>
        </a>
        <a id="camerasCard" class="categoryCard" href="/index/cameras">
          <img src="" alt="" />
          <p>CÁMARAS PÚBLICAS</p>
        </a>
        <a id="deleteCarFineCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>BORRAR</p>
        </a>
      </div>
      <div class="btnBackCont">
        <a class="btnBack" href="/index/home/">MENÚ PRINCIPAL</a>
      </div>
    </div>
  </div>
  <script src="/assets/js/home.js"></script>
</div>