<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <div class="homeBody">
    <div class="categoriesBody">
      <h3>GESTIÓN DE USUARIOS</h3>
      <div class="categoryCont">
        <a id="createUserCard" class="categoryCard" href="/index/users/new">
          <img src="" alt="" />
          <p>CREAR</p>
        </a>
        <a id="readUserCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>CONSULTAR</p>
        </a>
        <a id="updateUserCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>MODIFICAR</p>
        </a>
        <a id="deleteUserCard" class="categoryCard" href="/index/carFineForm">
          <img src="" alt="" />
          <p>BORRAR</p>
        </a>
      </div>
      <div class="btnBackCont">
        <a class="btnBack" href="/index/home/">MENÚ PRINCIPAL</a>
      </div>
    </div>
  </div>
  <script src="/assets/js/home.js"></script>
</div>