<div id="body">
  <div id="header">
    <img id="cornerLogo" src="/img/cintaPNN.png" alt="img PNN" />
    <div id="headerTitle">
      <a href="/index/index"><h1 id="mainTitle">SIGMU</h1></a>
      <h3>Sistema de Gestión de Multas</h3>
      <p>Prefectura del Puerto de Montevideo</p>
    </div>
    <div id="loginCont">
      <p>Bienvenido:
        <a href="/index/home"><strong class="userName">{{user.rank}}
            {{user.first_name}}
            {{user.last_name}}</strong></a></p>
      <p>Rol: <strong id="readRole">{{user.role}}</strong></p>
      <a id="btnLogout" href="/api/sessions/logout">CERRAR SESIÓN</a>
    </div>
  </div>
  <h3 class="subTitle">DATOS METEOROLÓGICOS</h3>
  <div class="homeBody">
    <div class="aisBody">
      <div class="categoryCont">
        <a id="sohmaWeatherCard" class="categoryCard" href="https://meteo.armada.mil.uy/">
          <img src="" alt="" />
          <p>SOHMA</p>
        </a>
        <a id="anpWeatherCard" class="categoryCard" href="https://www.anp.com.uy/inicio/puertos/montevideo/sistemas/mareografo-y-clima/datos-estadisticos-sobre-vientos-presion-atmosferica-humedad-lluvias-etc-ultimos-10-dias">
          <img src="" alt="" />
          <p>ANP</p>
        </a>
        <a
          id="inumetWeatherCard"
          class="categoryCard"
          href="https://inumet.gub.uy/reportes/pronosticos/marino.pdf"
        >
          <img src="" alt="" />
          <p>INUMET</p>
        </a>
        <a
          id="tcpWeatherCard"
          class="categoryCard"
          href="http://nimbus.com.uy/tcp/"
        >
          <img src="" alt="" />
          <p>TCP</p>
        </a>
      </div>
      <br />
      <h3 class="subTitle">VIENTOS (<a
          href="https://windy.app/map/#c=-34.87823,-56.18317&z=11"
          target="_blank"
        >Windy</a>)</h3>
      <br />
      <iframe
        src="https://windy.app/map/#c=-34.8925,-56.22437&z=11"
        width="100%"
        height="550"
        name="iframe"
        title="This is my video"
      ></iframe>
      <div class="btnBackCont">
        <a class="btnBack" href="/index/toolsMenu/">VOLVER</a>
      </div>
    </div>
  </div>
</div>