* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#body {
  display: flex;
  margin: 5vh auto 0 auto;
  flex-direction: column;
  width: 82vw;
  height: auto;
  min-height: 90vh;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  background-color: rgba(128, 128, 128, 0.1);
}

#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 50px 50px 0 0;
}

#cornerLogo {
  z-index: -1;
  width: 18%;
}

#headerTitle {
  width: 100%;
}

#mainTitle {
  width: auto;
  font-size: 6vw;
  text-align: center;
  color: black;
}

#headerTitle h3 {
  text-align: center;
}

#headerTitle p {
  text-align: center;
}

#loginCont {
  width: 19%;
  margin: auto 3% auto 3%;
  display: flex;
  flex-direction: column;
}

#btnLogin {
  text-align: center;
  width: auto;
  padding: 6px 13px 6px 13px;
  border: none;
  border-radius: 12px;
  background-color: #007dbf;
  color: white;
  font-weight: 600;
  font-size: .8vw;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
  margin-top: 20px;
}

#btnLogin a {
  color: white;
}

#btnLogin:hover {
  background-color: #005d8f;
}

#btnLogin:active {
  background-color: #003754;
}

#btnLogout {
  text-align: center;
  width: auto;
  padding: 6px 13px 6px 13px;
  border: none;
  border-radius: 12px;
  background-color: #bf0000;
  color: white;
  font-weight: 600;
  font-size: .8vw;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
  margin-top: 20px;
}

#btnLogout:hover {
  background-color: #8f0000;
}

#btnLogout:active {
  background-color: #540000;
}

#btnRequest {
  width: 100%;
  max-width: 10vw;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: rgb(100, 100, 100);
  color: white;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
}

#btnRequest:hover {
  background-color: rgb(70, 70, 70);
}

.dropdown {
  width: auto;
  min-width: 10vw;
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdownRegCont {
  margin: auto;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px 20px 20px 20px;
  align-items: center;
}

.dropdownRegCont a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.dropdownRegCont a:hover {
  background-color: #f1f1f1;
  border-radius: 20px 20px 20px 20px;
}

.dropdown:hover .dropdownRegCont {
  display: block;
}

#subBody {
  height: 100%;
  border-radius: 0px 0px 50px 50px;
}

#subBody input {
  width: 80%;
  margin: 1vh 10% 0 10%;
  height: 30px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 1px;
}

#subBody label {
  margin: 0 10% 10%;
}

#subBodyText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: auto;
  margin: 10vh auto 10vh auto;
}

#subBodyText h4 {
  margin: 2vh 0 2vh 0;
  color: rgb(85, 85, 85);
}

#subBodyText p {
  color: gray;
  font-size: small;
  text-align: justify;
}

#footer {
  padding-top: 2vh;
  margin: 2vh 0 3vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
  justify-content: end;
}

#marca {
  font-size: smaller;
  color: gray;
    text-align: justify;
}

#footer img {
  width: 2%;
  min-width: 10px;
  filter: contrast(0);
}

/* LOGIN */

#loginForm {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: center;
  padding-top: 5vh;
  width: 30vw;
  margin: auto;
}

.btnLI {
  width: 100%;
  max-width: 10vw;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: #007dbf;
  color: white;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
}

.btnLI:hover {
  background-color: #005d8f;
}

.btnLI:active {
  background-color: #003754;
}

.alrLoged {
  margin-bottom: 20px;
}

/* ERROR PAGE */

#msgImg {
  width: 20%;
}

.notFoundCont {
  margin: 7vh 0 7vh 0;
  display: flex;
  flex-direction: row;
  column-gap: 6vw;
  align-items: center;
  justify-content: center;
}

.formStyle {
  margin: 4vh auto 8vh auto;
  width: 40vw;
}

.formTitle {
  text-align: center;
}

.formSubTitle {
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-decoration: underline;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.formInput {
  height: 30px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 1px;
}

.formInputTextarea {
  height: 150px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 1px;
}

.submitCont {
  display: flex;
  align-items: center;
}

#formSubmit {
  width: auto;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: #007dbf;
  color: white;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
  margin: 30px auto 0 auto;
}

#formSubmit:hover {
  background-color: #005d8f;
}

#formSubmit:active {
  background-color: #003754;
}

.formAst {
  color: red;
  font-weight: 600;
}

.userName {
  font-size: larger;
  color: black;
}

.userName:hover {
  text-decoration: underline;
}

.linkDec100 {
  font-size: small;
  color: grey;
  text-align: right;
  margin-top: 5px;
}

.linkDec100:hover {
  text-decoration: underline;
}

#backButton {
  width: 100%;
  text-align: center;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: #007dbf;
  color: white;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
}

#backButton:hover {
  background-color: #005d8f;
}

#backButton:active {
  background-color: #003754;
}

#errorLink {
  text-align: center;
  color: gray;
  margin-bottom: 15vh;
}

#errorLink a:hover {
  text-decoration: underline;
}

/* HOME PROFILE */

.homeBody {
  padding: 5vh 5vw 5vh 5vw;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "user cards";
}

.categoriesBody {
  width: 60vw;
  grid-area: cards;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.categoriesBody h3 {
  width: 90%;
  margin: auto;
}

.categoryCont {
  display: flex;
  flex: row;
  column-gap: 2vw;
  margin-bottom: 3vh;
  align-items: center;
  justify-content: center;
}

.userInfo {
  width: 12vw;
  grid-area: user;
  background-color: white;
  padding: 1vw;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px 1px;
  height: fit-content;
}

.userInfo img {
  width: 100%;
  margin: auto;
}

.userInfoGroup {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  width: auto;
  font-size: 1vw;
}

.userInfoBtn {
  width: 100%;
  font-size: .8vw;
  text-align: center;
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
  background-color: #007dbf;
  color: white;
  transition: all 0.2s;
  font-weight: 600;
}

.userInfoBtn:hover {
  background-color: #005d8f;
  color: white;
}

.userInfoBtn:active {
  background-color: #003754;
  color: white;
}

.categoryCard {
  width: 12.2vw;
  display: grid;
  grid-template-rows: 4fr 1fr;
  height: 15vw;
  border-radius: 25px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  align-items: center;
}

.categoryCard:hover {
  translate: 0px -5px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 10px 1px;
  cursor: pointer;
}

.categoryCard p {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0 0 25px 25px;
  text-align: center;
  height: 100%;
  font-weight: 600;
  font-size: large;
}

#createCarFineCard {
  background-image: url(../../img/createFineCard.jpg);
  background-size: cover;
}

#updateCarFineCard {
  background-image: url(../../img/updateFineCard.jpg);
  background-size: cover;
}

#deleteCarFineCard {
  background-image: url(../../img/deleteFineCard.jpg);
  background-size: cover;
}

#readCarFineCard {
  background-image: url(../../img/readFineCard.jpg);
  background-size: cover;
}

#createShipFineCard {
  background-image: url(../../img/createFineCard2.jpg);
  background-size: cover;
}

#updateShipFineCard {
  background-image: url(../../img/updateFineCard2.jpg);
  background-size: cover;
}

#deleteShipFineCard {
  background-image: url(../../img/deleteFineCard2.jpg);
  background-size: cover;
}

#readShipFineCard {
  background-image: url(../../img/readFineCard2.jpg);
  background-size: cover;
}

#createUserCard {
  background-image: url(../../img/createUserCard.jpg);
  background-size: cover;
}

#readUserCard {
  background-image: url(../../img/readUserCard.jpg);
  background-size: cover;
}

#updateUserCard {
  background-image: url(../../img/updateUserCard.jpg);
  background-size: cover;
}

#deleteUserCard {
  background-image: url(../../img/deleteUserCard.jpg);
  background-size: cover;
}

.disabled {
  filter: contrast(0.2) blur(3px) !important;
  translate: 0px 0px 0px !important;
  cursor: auto !important;
}

/* USER FINES TABLE */

#userFinesBody {
  width: 90%;
  margin: auto;
  font-size: 1vw;
}

table {
  border-collapse: collapse;
  margin: 5vh auto 5vh auto;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 1px;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(128, 128, 128, .15);
}

th {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  text-align: center;
}

.fineBtnCell {
  border: none;
  background-color: black;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

/* NUEVA CONTRASEÑA */

.loginContainer {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: center;
}

.loginContainer a {
  text-align: center;
}