* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#body {
  display: flex;
  margin: 5vh auto 0 auto;
  flex-direction: column;
  width: 82vw;
  height: auto;
  min-height: 90vh;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  background-color: rgba(128, 128, 128, 0.1);
}

#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 50px 50px 0 0;
}

#cornerLogo {
  z-index: -1;
  width: 18%;
}

#headerTitle {
  width: 100%;
}

#mainTitle {
  width: auto;
  font-size: 6vw;
  text-align: center;
  color: black;
}

#headerTitle h3 {
  text-align: center;
}

#headerTitle p {
  text-align: center;
}

.subTitle {
  text-align: center;
  width: 90%;
  margin: auto;
  color: black;
}

.subTitle a {
  color: black;
}

.subTitle a:hover {
  text-decoration: underline;
}

#backMsg {
  width: fit-content;
  margin: auto;
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: rgb(160, 0, 160);
  border-radius: 10px;
}

#userEmail {
  text-align: center;
}

#loginCont {
  width: 19%;
  margin: auto 3% auto 3%;
  display: flex;
  flex-direction: column;
}

#btnLogin {
  text-align: center;
  width: auto;
  padding: 6px 13px 6px 13px;
  border: none;
  border-radius: 12px;
  background-color: #007dbf;
  color: white;
  font-weight: 600;
  font-size: .8vw;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
  margin-top: 20px;
}

#btnLogin a {
  color: white;
}

#btnLogin:hover {
  background-color: #005d8f;
}

#btnLogin:active {
  background-color: #003754;
}

#btnLogout {
  text-align: center;
  width: auto;
  padding: 6px 13px 6px 13px;
  border: none;
  border-radius: 12px;
  background-color: #bf0000;
  color: white;
  font-weight: 600;
  font-size: .8vw;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
  margin-top: 20px;
}

#btnLogout:hover {
  background-color: #8f0000;
}

#btnLogout:active {
  background-color: #540000;
}

#btnRequest {
  width: 100%;
  padding: 8px 0px 8px 0px;
  border: none;
  border-radius: 12px;
  background-color: rgb(100, 100, 100);
  color: white;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
}

#btnRequest:hover {
  background-color: rgb(70, 70, 70);
}

.dropdown {
  position: relative;
  text-align: center;

  display: inline-block;
  padding-top: 2vh;
  width: 15vw;
  margin: auto;
}

.dropdownRegCont {
  width: 100%;
  margin: auto;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px 20px 20px 20px;
  align-items: center;
}

.dropdownRegCont a {
  color: black;
  width: auto;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.dropdownRegCont a:hover {
  background-color: #f1f1f1;
  border-radius: 20px 20px 20px 20px;
}

.dropdown:hover .dropdownRegCont {
  display: block;
}

#searchBody {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#searchBody input {
  width: 60%;
  height: 30px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 1px;
}

#searchBody label {
  width: 7%;
  margin-right: .5%;
}

#searchBody button {
  background-color: black;
  margin-left: -61px;
  color: white;
  height: 25px;
  padding: 3px 5px 3px 5px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

#subBody {
  height: 100%;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  flex-direction: column;
}

#subBody input {
  width: 80%;
  margin: 1vh 10% 0 10%;
  height: 30px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 1px;
}

#subBody label {
  margin: 0 10% 10%;
}

#subBodyText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: auto;
  margin: 10vh auto 10vh auto;
}

#subBodyText h4 {
  margin: 2vh 0 2vh 0;
  color: rgb(85, 85, 85);
}

#subBodyText p {
  color: gray;
  font-size: small;
  text-align: justify;
}

#footer {
  padding-top: 2vh;
  margin: 2vh 0 3vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5vh;
  justify-content: end;
}

#marca {
  font-size: smaller;
  color: gray;
    text-align: justify;
}

#footer img {
  width: 2%;
  min-width: 10px;
  filter: contrast(0);
}

/* LOGIN */

#loginForm {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: center;
  padding-top: 5vh;
  width: 30vw;
  margin: auto;
}

.btnLI {
  width: 50%;
  padding: 8px 0px 8px 0px;
  border: none;
  border-radius: 12px;
  background-color: #007dbf;
  color: white;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
}

.btnLI:hover {
  background-color: #005d8f;
}

.btnLI:active {
  background-color: #003754;
}

.alrLoged {
  margin-bottom: 20px;
}

/* ERROR PAGE */

#msgImg {
  width: 20%;
}

.notFoundCont {
  margin: 7vh 3vw 7vh 3vw;
  display: flex;
  flex-direction: row;
  column-gap: 6vw;
  align-items: center;
  justify-content: center;
}

.formStyle {
  margin: 4vh auto 8vh auto;
  width: 40vw;
}

.formTitle {
  text-align: center;
}

.formSubTitle {
  margin: 10px 0 10px 0;
  font-weight: 600;
  text-decoration: underline;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.formInput {
  height: 30px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 1px;
}

.formInputTextarea {
  height: 150px;
  padding: 5px 10px 0 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 1px;
}

.submitCont {
  display: flex;
  align-items: center;
}

#formSubmit {
  width: auto;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: #007dbf;
  color: white;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
  margin: 30px auto 0 auto;
}

#updateFormSubmit {
  width: auto;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: #007dbf;
  color: white;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
  margin: 30px auto 0 auto;
}

#formSubmit:hover {
  background-color: #005d8f;
}

#formSubmit:active {
  background-color: #003754;
}

.formAst {
  color: red;
  font-weight: 600;
}

.userName {
  font-size: larger;
  color: black;
}

.userName:hover {
  text-decoration: underline;
}

.linkDec100 {
  font-size: small;
  color: grey;
  text-align: right;
  margin-top: 5px;
}

.linkDec100:hover {
  text-decoration: underline;
}

#backButton {
  width: 100%;
  text-align: center;
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: #007dbf;
  color: white;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  transition: all 0.2s;
  color: white;
}

#backButton:hover {
  background-color: #005d8f;
}

#backButton:active {
  background-color: #003754;
}

#errorLink {
  text-align: center;
  color: gray;
  margin-bottom: 15vh;
}

#errorLink a:hover {
  text-decoration: underline;
}

/* HOME PROFILE */

.homeBody {
  padding: 5vh 0vw 5vh 0vw;
  display: flex;
  justify-content: center;
}

.categoriesBody {
  width: 70vw;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.categoriesBody h3 {
  text-align: center;
  margin-bottom: 5vh;
}

.categoryCont {
  display: flex;
  flex: row;
  column-gap: 2vw;
  margin-bottom: 3vh;
  align-items: center;
  justify-content: center;
}

.userInfo {
  width: 12vw;
  grid-area: user;
  background-color: white;
  padding: 1vw;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px 1px;
  height: fit-content;
}

.userInfo img {
  width: 100%;
  margin: auto;
}

.userInfoGroup {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  width: auto;
  font-size: 1vw;
}

.userInfoBtn {
  width: 100%;
  font-size: .8vw;
  text-align: center;
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
  background-color: #007dbf;
  color: white;
  transition: all 0.2s;
  font-weight: 600;
}

.userInfoBtn:hover {
  background-color: #005d8f;
  color: white;
}

.userInfoBtn:active {
  background-color: #003754;
  color: white;
}

.categoryCard {
  width: 25vw;
  height: 80vh;
  display: grid;
  grid-template-rows: 8fr 1fr;
  border-radius: 25px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  align-items: center;
  filter: grayscale(1);
}

.categoryCard:hover {
  translate: 0px -5px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 10px 1px;
  cursor: pointer;
  filter: grayscale(0);
}

.categoryCard p {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0 0 25px 25px;
  text-align: center;
  height: 100%;
  font-weight: 600;
  font-size: large;
}

#createCarFineCard {
  background-image: url(../../img/createFineCard.jpg);
  background-size: cover;
  background-position-x: center;
}

#updateCarFineCard {
  background-image: url(../../img/updateFineCard.jpg);
  background-size: cover;
  background-position-x: center;
}

#deleteCarFineCard {
  background-image: url(../../img/deleteFineCard.jpg);
  background-size: cover;
  background-position-x: left;
}

#readCarFineCard {
  background-image: url(../../img/readFineCard.jpg);
  background-size: cover;
  background-position-x: center;
}

#createShipFineCard {
  background-image: url(../../img/createFineCard2.jpg);
  background-size: cover;
  background-position-x: center;
}

#updateShipFineCard {
  background-image: url(../../img/updateFineCard2.jpg);
  background-size: cover;
  background-position-x: center;
}

#deleteShipFineCard {
  background-image: url(../../img/deleteFineCard2.jpg);
  background-size: cover;
  background-position-x: right;
}

#readShipFineCard {
  background-image: url(../../img/readFineCard2.jpg);
  background-size: cover;
  background-position-x: center;
}

#createUserCard {
  background-image: url(../../img/createUserCard.jpg);
  background-size: cover;
  background-position-x: 80%;
}

#readUserCard {
  background-image: url(../../img/readUserCard.jpg);
  background-size: cover;
  background-position-x: left;
}

#updateUserCard {
  background-image: url(../../img/updateUserCard.jpg);
  background-size: cover;
  background-position-x: center;
}

#deleteUserCard {
  background-image: url(../../img/deleteUserCard.jpg);
  background-size: cover;
  background-position-x: 70%;
}

#aisCard {
  background-image: url(../../img/aisTool.jpg);
  background-size: cover;
  background-position: center;
}

#weatherCard {
  background-image: url(../../img/weatherTool.jpg);
  background-size: cover;
  background-position: center;
}

#sohmaWeatherCard {
  background-image: url(../../img/sohmaWeatherTool.jpg);
  background-size: cover;
  background-position: center;
}

#anpWeatherCard {
  background-image: url(../../img/anpWeatherTool.jpg);
  background-size: cover;
  background-position: center;
}

#inumetWeatherCard {
  background-image: url(../../img/inumetWeatherTool.jpg);
  background-size: cover;
  background-position: 60%;
}

#tcpWeatherCard {
  background-image: url(../../img/tcpWeatherTool.jpeg);
  background-size: cover;
  background-position: 40%;
}

#camerasCard {
  background-image: url(../../img/camerasTool.jpg);
  background-size: cover;
  background-position: 48%;
}

#oesteCameraCard {
  background-image: url(../../img/torreOesteCameraTool.jpg);
  background-size: cover;
  background-position: center;
}

#norteCameraCard {
  background-image: url(../../img/torreNorteCameraTool.jpg);
  background-size: cover;
  background-position: center;
}

#mercadoCameraCard {
  background-image: url(../../img/mercadoDelPuertoCameraTool.jpg);
  background-size: cover;
  background-position: center;
}

#terminalCameraCard {
  background-image: url(../../img/terminalRioBrancoCameraTool.jpg);
  background-size: cover;
  background-position: center;
}

#anpArrivesCard {
  background-image: url(../../img/anpTool.jpg);
  background-size: cover;
  background-position: center;
}

#arrivesCard {
  background-image: url(../../img/arrivesAnpTool.jpg);
  background-size: cover;
  background-position: right;
}

#shipDataCard {
  background-image: url(../../img/shipDataTool.jpg);
  background-size: cover;
  background-position: center;
}

#portOcupationCard {
  background-image: url(../../img/ocupationAnpTool.jpg);
  background-size: cover;
  background-position: 80%;
}

#mooringAssignCard {
  background-image: url(../../img/mooringTool.jpg);
  background-size: cover;
  background-position: left;
}

.disabled {
  filter: contrast(0.2) blur(3px) !important;
  translate: 0px 0px 0px !important;
  cursor: auto !important;
}

/* USER FINES TABLE */

#userFinesBody {
  width: 90%;
  margin: auto;
  font-size: 1vw;
}

table {
  border-collapse: collapse;
  margin: 5vh auto 5vh auto;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 1px;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(128, 128, 128, .15);
}

th {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  text-align: center;
}

th input {
  width: 100%;
  height: 1.5rem;
  border: none;
  border-radius: 5px;
}

.fineBtnCell {
  border: none;
  background-color: black;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

/* NUEVA CONTRASEÑA */

.loginContainer {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: center;
}

.loginContainer a {
  text-align: center;
}

/* TODAS LAS MULTAS */

/* Inputs para buscar */
#fineSearchContainer {
  margin: 2vh 0 0 0;
  background-color: white;
  padding: 1rem;
  border-radius: 25px 25px 0 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
}

.fineSearchInputs {
  overflow-x: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  row-gap: 5vh;
}

.fineSearchCard {
  border-radius: 15px;
  padding: 5px 10px;
}

.fineSearchCard input {
  border: none;
  background-color: #f1f1f1;
  height: 1.5rem;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 1vh;
}

.fineSearchCard label {
  font-weight: 600;
}

.filterBtn {
  font-size: larger;
  text-align: center;
  border-radius: 0 0 25px 25px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: .5rem 1rem;
  background-color: black;
  color: white;
  width: 100%;
  transition: all 0.2s;
}

.filterBtn:hover {
  background-color: rgb(60, 60, 60);
}

.filterBtn:active {
  background-color: rgb(100, 100, 100);
}

#fine_status {
  border: none;
  background-color: #f1f1f1;
  height: 1.5rem;
  border-radius: 5px;
  padding-left: 5px;
  margin-top: 1vh;
}

/* Tarjetas de multas */
#fineCardContainer {
  margin: 3vh 0 3vh 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 5vh;
}

.fineDivPrime {
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 1px;
  border: solid 1px rgba(128, 128, 128, 0.1);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 5px 10px;
}

.fineDivPrimeTitle {
  text-decoration: underline;
}

.fineCard {
  flex-basis: 40%;
  background-color: white;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
}

.fineDiv {
  margin: 1vh 0 1vh 0;
}

.wSubDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fineSubDiv {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.flexClass {
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
}

.borderAlign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fine_number {
  font-size: xx-large;
  font-weight: 600;
}

.fineDivTitle {
  color: rgb(75, 75, 75);
  font-size: small;
  align-self: center;
  text-decoration: underline;
}

.provesBtn {
  width: 30%;
}

.provesBtn a {
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  padding: .5rem 1rem;
  width: 100%;
}

.statusIndicatordue {
  width: 30%;
}

.statusIndicatordue button{
  text-align: center;
  color: white;
  background-color: rgb(200, 0, 0);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: .5rem 1rem;
  width: 100%;
}

.statusIndicatorpaid {
  width: 30%;
}

.statusIndicatorpaid button{
  text-align: center;
  color: white;
  background-color: rgb(0, 130, 0);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: .5rem 1rem;
  width: 100%;
}

.statusIndicatordismissed {
  width: 30%;
}

.statusIndicatordismissed button{
  text-align: center;
  color: white;
  background-color: rgb(0, 174, 174);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: .5rem 1rem;
  width: 100%;
}

.statusIndicatornoData {
  width: 30%;
}

.statusIndicatornoData button{
  text-align: center;
  color: white;
  background-color: rgb(255, 145, 0);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: .5rem 1rem;
  width: 100%;
}

.fineDiv p {
  align-self: center;
}

/* Paginacion */

#pagination {
  margin: 6vh 0 6vh 0;
}

#paginationBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#paginationBtns a {
  text-decoration: none;
  color: black;
}

#paginationBtns a:hover {
  text-decoration: underline;
}

#paginationInfo {
  width: 100%;
  text-align: center;
}

.abled-false {
  cursor: not-allowed;
  pointer-events: none;
  color: rgb(180, 180, 180) !important;
}

/* NUEVO MENU */

#carFinesMenuCard {
  background-image: url(../../img/carFinesMenuCard.jpg);
  background-size: cover;
  background-position-y: 80%;
}

#shipFinesMenuCard {
  background-image: url(../../img/shipFinesMenuCard.jpg);
  background-size: cover;
  background-position-y: 95%;
}

#usersMenuCard{
  background-image: url(../../img/userMenuCard.jpg);
  background-size: cover;
  background-position: center;
}

#toolsMenuCard{
  background-image: url(../../img/toolsMenuCard.jpg);
  background-size: cover;
  background-position: center;
}

#utilityMenuCard{
  background-image: url(../../img/utilityMenuCard.jpg);
  background-size: cover;
  background-position-y: 65%;
}

.menuCard {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: x-large;
  width: 95%;
  height: 15vw;
  border-radius: 25px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
  filter: grayscale(1);
  color: white;
  text-shadow: black 1px 1px 2px;
}

.menuCard:hover {
  translate: 0px -5px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 10px 1px;
  cursor: pointer;
  filter: grayscale(0);
}

.menuCategoriesBody {
  width: 60vw;
  grid-area: cards;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.menuCategoriesBody h3 {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 3vh;
}

.menuCont {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  margin-bottom: 3vh;
  align-items: center;
  justify-content: center;
}

.btnBackCont {
  display: flex;
  align-items: center;
}

.btnBack {
  margin: 3vh auto 3vh auto;
  padding: 1vh 2vw 1vh 2vw;
  background-color: #007dbf;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 12px;
  transition: .2s;
}

.btnBack:hover {
  background-color: #005d8f;
}

.btnBack:active {
  background-color: #003754;
}

/* FIN NUEVO MENU */

.aisBody {
  width: 90%;
}

.userCard {
  min-width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px 1px;
}

.allUsersPic {
  width: 10vw;
  height: 100%;
}

.userDivPrime {
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px 1px;
  border: solid 1px rgba(128, 128, 128, 0.1);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 5px 10px;
}

.userDiv {
  display: flex;
  flex-direction: row;
  column-gap: 3vw;
  margin: 1vh 0 1vh 0;
  align-items: center;
}

.userDiv p {
  align-self: center;
}

.userSubSubDiv {
  display: flex;
  flex-direction: column;
}

.userSubDiv {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.userCardData {
  font-size: large;
}

.userDivTitle {
  color: rgb(115, 115, 115);
  text-decoration: underline;
}

#rank, #role {
  border: none;
  background-color: #f1f1f1;
  height: 1.5rem;
  border-radius: 5px;
  padding-left: 5px;
  margin-top: 1vh;
}

.userSearchCard {
  width: 30%;
  border-radius: 15px;
  padding: 5px 10px;
}

.userSearchCard input {
  border: none;
  background-color: #f1f1f1;
  height: 1.5rem;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 1vh;
}

.userSearchCard label {
  font-weight: 600;
}

.userSearchInputCard {
  display: flex;
  flex-direction: column;
}

.userSearchInputs {
  overflow-x: auto;
  width: 100%;
  display: flex;
  column-gap: 2vw;
  row-gap: 5vh;
}